.themeSwitch {
  display: flex;
  margin-top: 20px;
  margin-right: 50px;
  margin-bottom: 20px;
  align-items: flex-end;
  justify-content: flex-end;
}

.themeSwitchText {
  display: flex;
  color: var(--text-secondary);
  justify-content: center;
  font-family: "Kanit";
  font-size: 18px;
}

.themeSwitchButton {
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  color: var(--text-secondary);

  font-family: "Kanit";
  font-size: 24px;
  background: var(--background-secondary);
  border-radius: 25px;
}
