input:focus {
  outline: none;
}

.addTask {
  display: flex;
  justify-content: center;
}

.addTask-label {
  width: 150px;
  text-align: center;

  font-size: 24px;
  font-family: "Kanit";
  color: var(--text-primary);
}
.addTask-form {
  display: flex;
  align-items: center;
  width: 750px;
  height: 65px;

  margin-bottom: 25px;
  background: var(--background-secondary);
}

.addTask-input {
  display: flex;
  width: 400px;
  height: 60px;
  border: none;
  margin-left: 15px;
  background: var(--background-secondary);

  font-size: 24px;
  font-family: "Kanit";
  color: var(--text-primary);
}

::placeholder {
  color: var(--text-primary);
}

.addTask-date {
  border: none;
  width: 150px;
  background: none;

  font-size: 24px;
  font-family: "Kanit";
  color: var(--text-primary);
}

.addTask-submit {
  display: flex;
  width: 100px;
  height: 65px;
  border: none;
  text-align: center;
  justify-content: center;
  margin: 0px;
  background: #cfff91;
  cursor: pointer;

  font-size: 24px;
  font-family: "Kanit";
  color: #424242;
}
